@import 'normalize.css';

* {
  box-sizing: border-box;
}

html {
  position: relative;
  font-size: 10px;
  font-size: 62.5%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100%;
  font-size: 1.8rem;
}
