:root {
  --basicTags: {
    font-family: var(--fontSansSerif);

    & h1 {
      @apply --header1;
    }

    & h2 {
      @apply --header2;
    }

    & h3 {
      @apply --header3;
    }

    & h4 {
      @apply --header4;
    }

    & h5 {
      @apply --header5;
    }

    & h6 {
      @apply --header6;
    }

    & a {
      @apply --anchorStyle;
    }

    & small {
      @apply --small;
    }
  }
}
