:root {
  /* Application Colors */
  --colorPrimary: #1D242D;
  --colorPrimaryDark: color(#1D242D shade(20%));
  --colorAccent: #ec4e36;

  /* Shades */
  --colorBlack: #000000;
  --colorDarkerGrey: #4A4A4A;
  --colorDarkGrey: #666666;
  --colorGrey: #979797;
  --colorLightGrey: #E8E8E8;
  --colorLighterGrey: #F7F8F8;
  --colorWhite: #ffffff;

  /* Alert Colors */
  --colorSuccess: #6bbe4a;
  --colorWarning: #f29d47;
  --colorError: #f24764;
  --colorInfo: rgb(52, 132, 235);

  /* Transparent Colors */
  --colorTransparent: #00000000;
}
