/*
   IMPORTANT: since the @custom-media can't accept a variable inside of it
   if you change the breakpoint you need to update it in both
   locations.
*/

:root {
  --phoneWidth: 320px; /* iPhone Portrait */
  --tabletWidth: 768px; /* iPad Portrait */
  --desktopWidth: 1024px; /* iPad Landscape */
  --desktopXLWidth: 1440px;
}

/* Phone (mobile first so no @phone rule) */
@custom-media --notPhone (width >= 320px);

/* Tablet */
@custom-media --tablet (width >= 768px);
@custom-media --notTablet (width < 768px) and (width >= 1024px);

/* Desktop */
@custom-media --desktop (width >= 1024px);
@custom-media --notDesktop (width < 1024px) and (width >= 1440px);

/* DesktopXL */
@custom-media --desktopXL (width >= 1440px);
@custom-media --notDesktopXL (width < 1440px);

/* Aspect Ratios */
@custom-media --minAspect (min-aspect-ratio: 16/9);
@custom-media --maxAspect (max-aspect-ratio: 16/9);
